* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* body {
  background-image: url(images/sideshot-large.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
} */

body {
background-color:#f3f2f1;
}

.App {
  width: 90%; 
  margin: 0 auto;
}

/* img {
  max-width: 90%;
  height: auto;
} */